.DS_Store
*bin/
*obj/
*.idea/
*.venv/
*.vscode/
*.claude/
*.antigravitycli/
*__pycache__/
*.pytest_cache/
*.playwright-mcp/

*API/
*Data/
*LocalStorage/

*.algo
*.pstat
*.log
*.html

Notebook.ipynb

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.synctex.gz
*.toc